 {% extends 'base.html' %}

{% block content %}
  <div style='margin-left: 500px;'>
  <h2 style='color:black'>Log in </h2>
 {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <table>
        <tr>
        <td style='width:100px;color:black'>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
      </table>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}  
    <button type="submit">Log in</button>
    
    
  </form>
</div>
{% endblock %}