{% extends 'adminbase.html' %}
{% block title %}
    Dish update
{% endblock %}
{% block content %}
  <h2>Update</h2>
  <form method="post" id='admindishupdate' enctype="multipart/form-data" >
    {% csrf_token %}
   {% for field in form %}
      <table border=0>
        <tr>
      <td style='width:100px;color:black'>{{ field.label_tag }}</td>
      <td class='span2'>{{ field }}</td>
        </tr>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      
    {% endfor %}
  <tr><td><button type="submit">Update</button></td></tr>
	</table	>
  </form>
{% endblock %}
